/* Blog Title */
#header .blog-title {
    margin-top: 3rem;
    margin-left: 1.5rem;
    font-size: 4rem;
}

#header {
    z-index: 1;
}
/* End Blog Title */

/* Blog */
#blog {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#blog .header {
    width: 55%;
    /* background-color: blue; */
    margin-top: 100px;
    padding-bottom: 20px;
    border-bottom: solid 1px black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
}

#blog .header a {
    visibility: hidden;
}

/* #blog .blog-title {
    font-size: 20px;
} */

#blog .body {
    width: 46vw;
    padding: 0 16px;
}

#blog .blog-item {
    height: 8vw;
    margin-top: 40px;
    padding: 2px 20px;
    border-bottom: solid 1px black;
    /* background-color: tomato; */
}

#blog .blog-item a {
    display: flex;
    justify-content: space-between;
}

#blog .item-text {
    display: flex;
    flex-direction: column;
    padding-bottom: 50px; 
}
/* 블로그 아이템 제목 */
#blog .item-text span:nth-child(1) {
    font-size: 1.5rem;
    font-weight: bold;
}
/* 블로그 아이템 내용 */
#blog .item-text span:nth-child(2) {
    margin-top: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-wrap:break-word; 
    line-height: 1.2em;
    height: 3.6em; /* line-height 가 1.2em 이고 3라인을 자르기 때문에 height는 1.2em * 3 = 3.6em */
}

#blog .item-img img {
    width: 110px;
    height: 110px;
    margin-left: 20px;
}

#blog .page_button{
    margin: 30px;
}

#blog .page_button a {
    margin: 4px;
    padding: 4px;
    opacity: 0.7;
    border: none;
    border-radius: 20px;
}

#blog .page_button a:hover {
    color: white;
    background-color: black;
}

#blog .page_button .current {
    color: white;
    background-color: black;
}
/* End Blog */