/* @import "https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap"; */

.container {
    /* 뷰포트의 높이로 한 화면만큼의 높이 설정 */
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
}

/* main Section */
#main {
    background-image: url(../img/layout/background-main.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#main .main-title {
    position: absolute;
    right: 20px;
    bottom: 100px;
    /* text-align: right; */
}

#main h1 {
    display: block;
    width: fit-content;
    font-size: 4rem; 
    color: white;   
    /* todo오른쪽으로 정렬하는 방법 찾아서 적용하기 */
    /* text-align: right; */
    /* margin-right: 0; */
    /* float: right; */
}   
/* End Main Section */


/* Projects section */
#projects .projects {
    background-color: slategrey;
    flex-direction: column;
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 100px 200px;
}
/* End Projects section */

/* Blog Section */
#blog .blog {
    /* background-color: lightsteelblue; */
    flex-direction: column;
    margin: 0 auto;
    padding: 100px 240px;
}

#blog .blog-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#blog .blog-header h1 {
    font-size: 4rem;
    opacity: 0.8;
    border-bottom: solid 6px black;
}

#blog .blog-header a {
    font-size: 1rem;
    margin-right: 10px;
    opacity: 0.7;
}

#blog .blog-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#blog .blog-body .post {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 24px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow: hidden;
}

#blog .blog-body .post img {
    height: 200px;
    border-start-start-radius: 20px;
    margin-bottom: 10px;
}

#blog .blog-body .post h3 {
    display: block;
    height: 60px;
    margin: 0px 4px;
    font-size: 1.2rem;
}
/* End Blog Section */















/* About Section */
#about .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}
#about .col-left {
    width: 250px;
    height: 360px;
}
#about .col-right {
    width: 100%;
}
#about .col-right h2 {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    margin-bottom: 10px;
}
#about .col-right p {
    margin-bottom: 20px;
}
#about .col-right .cta {
    color: black;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}
#about .col-left .about-img {
    height: 100%;
    width: 100%;
    position: relative;
    border: 10px solid white;
}
#about .col-left .about-img::after {
    content: "";
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 7px solid crimson;
    z-index: -1;
}
/* End About Section */


