/* @import "https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap"; */

.container {
    /* 뷰포트의 높이로 한 화면만큼의 높이 설정 */
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
}

/* Header section */
#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

#header .header {
    min-height: 10vh;
    background-color: rgba(31, 30, 30, 0.24);
    transition: 0.3s ease background-color;
}

#header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}

#header .nav-list ul {
    position: absolute;
    width: 100vw;
    top: 0;
    display: flex;
}

#header .nav-list ul a {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}

#header .nav-list ul li:hover a {
    color: black;
}
/* End Header section */


/* main Section */
#main {
    background-image: url(../img/layout/background-main.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

#main .main-title {
    position: absolute;
    right: 20px;
    bottom: 100px;
    /* text-align: right; */
}

#main h1 {
    display: block;
    width: fit-content;
    font-size: 4rem; 
    color: white;   
    /* todo오른쪽으로 정렬하는 방법 찾아서 적용하기 */
    /* text-align: right; */
    /* margin-right: 0; */
    /* float: right; */
}   
/* End Main Section */


/* Projects section */
#projects .projects {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}
/* End Projects section */















/* About Section */
#about .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}
#about .col-left {
    width: 250px;
    height: 360px;
}
#about .col-right {
    width: 100%;
}
#about .col-right h2 {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    margin-bottom: 10px;
}
#about .col-right p {
    margin-bottom: 20px;
}
#about .col-right .cta {
    color: black;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}
#about .col-left .about-img {
    height: 100%;
    width: 100%;
    position: relative;
    border: 10px solid white;
}
#about .col-left .about-img::after {
    content: "";
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 7px solid crimson;
    z-index: -1;
}
/* End About Section */


