/* Summernote 적용하는 페이지에서
   기존에 적용된 CSS(여기서는 header.css) 적용 안되는 문제 있음
   적용 안되는 부분을 write_post.css 에서 적용 */
#header .container {
    width: 100%;
}

#header a {
    text-decoration: none;
    color: black;
}
/* */

/* Blog Title */


#header .blog-title {
    margin-top: 3rem;
    margin-left: 1.5rem;
    font-size: 4rem;
}

#header {
    z-index: 1;
}
/* End Blog Title */

/* View Post */
#viewer {
    width: 50%;
    margin: 8vw auto;
    display: flex;
    flex-direction: column;
}

#viewer .header {
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
    margin-bottom: 30px;
    border-bottom: solid 1px black;
    z-index: 2;
}

#viewer .header .post_title {
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

#viewer .header .header_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#viewer .header .header_bottom .post_button {
    padding: 8px;
    text-align: center;
    font-size: 0.9rem;
    visibility: hidden;
}

/* #viewer .header .header_bottom .post_button a {
    visibility: hidden;
} */

#viewer .header .created-at {
    font-size: 0.8rem;
}

#viewer .content .content_image img {
    width: 100%;
    /* height: ; */
    object-fit: cover;
    margin-bottom: 50px;
}

#viewer .content .content_text textarea {
    width: 100%;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    color: black;
    opacity: 0.7;
    resize: none;
    outline: none;
    box-sizing: border-box;
}

#viewer .comment {
    margin-top: 40px;
}

#viewer .comment_title h2 {
    font-size: 3rem;
    opacity: 0.8;
    margin-bottom: 40px;
}

#viewer .comment_list {
    margin-top: 20px;
}

#viewer .comment_item {
    border-bottom: solid 1px #c9c9c9;
    margin-top: 20px;
}

#viewer .comment_item .comment_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 2px;
}

#viewer .header_left {
    opacity: 0.7;
    font-size: 1rem;
}

#viewer .header_left .comment_writer {
    font-weight: bold;
    font-size: 1.4rem;
    margin-right: 6px;
}

#viewer .header_right {
    font-size: 1.2rem;
    opacity: 0.7;
    cursor: pointer;
}

#viewer .header_right .comment_edit {
    margin-left: 6px;
}

#viewer .comment_item textarea {
    width: 100%;
    height: 10px;
    margin-top: 4px;
    padding-right: 100px;
    resize: none;
    border: none;
    outline: none;
    opacity: 0.8;
}

#viewer .comment_item .nested_comment_item {
    margin-left: 30px;
}

#viewer .comment_input .input_userinfo input {
    width: 200px;
    margin-bottom: 6px;
}

#viewer .comment_input .input_userinfo #postId {
    visibility: hidden;
}

/* #viewer .comment_input #nestedOrder {
    visibility: hidden;
} */

#viewer .comment_input {
    margin-top: 20px;
}

#viewer .comment_input textarea {
    width: 100%;
    height: 120px;
    resize: none;
}

#viewer .comment_input .input_submit {
    width: 80px;
    float: right;
}
/* End View Post */
