/* Summernote 적용하는 페이지에서
   기존에 적용된 CSS(여기서는 header.css) 적용 안되는 문제 있음
   적용 안되는 부분을 write_post.css 에서 적용 */
#header .container {
    width: 100%;
}

#header a {
    text-decoration: none;
}
/* */

/* Write Post */
#editor {
    width: 50vw;
    margin: 8vw auto;
}

#editor .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
    margin-bottom: 30px;
    border-bottom: solid 1px black;
}

#editor .form {
    display: flex;
    flex-direction: column;
}

#editor .write_title {
    margin : 10px 0 30px;
    padding: 10px 20px;
    border: double 1px #a7a4a4;
    border-radius: 10px;
    font-size: 14px;
    color: black;
    opacity: 0.7;
}

#editor .write_title:focus {
    outline: none;
    border: solid 2px #444444;
    border-radius: 5px;
}

#editor .write_text {
    height: 30vw;
    margin : 10px 0 30px;
    padding: 10px 20px;
    border: double 1px #a7a4a4;
    border-radius: 10px;
    font-size: 14px;
    color: black;
    opacity: 0.7;
    resize: none;
}

#editor .write_text:focus {
    outline: none;
    border: solid 2px #444444;
    border-radius: 5px; 
}
/* End Write Post */