/* 글쓰기 form */
#editor {
    width: 50vw;
    margin: 8vw auto;
}

#editor .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
    margin-bottom: 30px;
    border-bottom: solid 1px black;
}

#editor .form {
    display: flex;
    flex-direction: column;
}

#editor .write_title {
    margin : 10px 0 30px;
    padding: 10px 20px;
    border: double 1px #a7a4a4;
    border-radius: 10px;
    font-size: 14px;
    color: black;
    opacity: 0.7;
}

#editor .write_title:focus {
    outline: none;
    border: solid 2px #444444;
    border-radius: 5px;
}

#editor .write_text {
    height: 30vw;
    margin : 10px 0 30px;
    padding: 10px 20px;
    border: double 1px #a7a4a4;
    border-radius: 10px;
    font-size: 14px;
    color: black;
    opacity: 0.7;
    resize: none;
}

#editor .write_text:focus {
    outline: none;
    border: solid 2px #444444;
    border-radius: 5px;
}